# 应用服务器配置
server:
  port: 8080

# Spring Boot 应用配置
spring:
  application:
    name: comment-backend
  ai:
    vectorstore:
      milvus:
        client:
          host: "localhost"
          port: 19530
        databaseName: "test"
        collectionName: "vector_store_test"
        initialize-schema: true
        embeddingDimension: 1024
        indexType: IVF_FLAT
        metricType: COSINE
        auto-id: true
        embedding-field-name: "vector"
        content-field-name: "content"
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/comment_consistency?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      database: 1
      timeout: 5000ms
      lettuce:
        pool:
          max-active: 20
          max-idle: 10
          min-idle: 5
          max-wait: 3000ms

# 监控配置
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true

# 日志配置
logging:
  level:
    root: INFO
    com.nju.comment.backend: DEBUG
    org.springframework.ai: INFO
    org.springframework.web: INFO
    org.springframework.cache: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/comment.log

# 应用配置
app:
  thread-pool:
    llm-pool:
      core-size: 20
      max-size: 50
      queue-capacity: 1000
      keep-alive: 60
      thread-name-prefix: llm-executor-
  ai:
    llm:
      timeout-ms: 30000
    ollama:
      chat:
        base-url: https://ollama.com
        api-key: ${OLLAMA_API_KEY:}
      embedding:
        base-url: http://localhost:11434
        model: "qwen3-embedding:0.6b"
        enable: false
  cache:
    comment:
      ttl: 3600 # 1小时
    modelsList:
      max-size: 100
      ttl: 60 # 1分钟
  jwt:
    header: Authorization
    secret: 0f9d11afdd49434e2ec86e16960df6a9d2733020884239a4bb5d002b0ae6303e
    expiration: 604800000 # 7天
